.about {
    padding: 217px 0;
    background-color: #245852;
}

.container {
    max-width: calc(1200px + 30px);
    margin: 0 auto;
    padding: 0 15px;
}

.about__inner {
    display: flex;
    align-items: center;
}

.about__wrapper {}

.about__title {
    color: #FFF;
    font-family: Georgia;
    font-size: 50px;
    font-weight: 700;
    line-height: 157%;
}

.about__subtitle {
    color: #FFF;
    font-family: Lato;
    font-size: 25px;
    font-weight: 600;
    line-height: 157%;
}

.about__btn {
    display: inline-block;
    padding: 20px 50px;
    border-radius: 4px;
    border: 1px solid #01996D;
    background-color: #01996D;
    color:#fff;
    text-decoration: none;
}